In [1]:
import pandas as pd

In [2]:
#from lecture
def enlarge(n):
    return n * 100

In [3]:
x = 5
print("ENLARGE", x, "TO", enlarge(x))

ENLARGE 5 TO 500

In [4]:
df = pd.DataFrame({'x': [1,2,3], 'y': [4,5,6]})
print(df.head())

   x  y
0  1  4
1  2  5
2  3  6

In [5]:

#test 2: Single function to take a list, turn it into 
# a series and add it to a dataframe as a new column
df1 = pd.DataFrame({'z': [7,8,9]})
df2 = pd.concat([df, df1], axis = 1)
print(df2)

   x  y  z
0  1  4  7
1  2  5  8
2  3  6  9

In [6]:
def f(qty, item, price):
    print(f'{qty} {item} cost ${price:.2f}')

In [7]:
f(6, 'bananas', 1.64)

6 bananas cost $1.64

In [8]:
import numpy as np
import datetime as dt
from datetime import datetime

In [9]:
# Function to split dates ("MM/DD/YYYY", etc.) into multiple columns
# Extract components from date_recorded, then drop the original column

In [10]:

# Create date and time with dataframe 
df1 = pd.DataFrame() 
df1['date'] = pd.date_range('1/1/2020', periods = 5, freq ='D')
df1

        date
0 2020-01-01
1 2020-01-02
2 2020-01-03
3 2020-01-04
4 2020-01-05

In [11]:
# Create features for year, month, and day 
df1['year'] = df1['date'].dt.year
df1['month'] = df1['date'].dt.month
df1['day'] = df1['date'].dt.day

In [12]:
df1.head()

        date  year  month  day
0 2020-01-01  2020      1    1
1 2020-01-02  2020      1    2
2 2020-01-03  2020      1    3
3 2020-01-04  2020      1    4
4 2020-01-05  2020      1    5

In [16]:
def split_date(df_in, column_name):
    df_in['year'] = df_in[column_name].dt.year
    df_in['month'] = df_in[column_name].dt.month
    df_in['day'] = df_in[column_name].dt.day
    return df_in
    
df_new=split_date(df1,"date")

        date  year  month  day
0 2020-01-01  2020      1    1
1 2020-01-02  2020      1    2
2 2020-01-03  2020      1    3
3 2020-01-04  2020      1    4
4 2020-01-05  2020      1    5

In [ ]:
def thank_you(name):
    # This function prints a two-line personalized thank you message.
    print("\nYou are doing good work, %s!" % name)
    print("Thank you very much for your efforts on this project.")
    return (name)
# thank_you('Adriana')
# thank_you('Billy')
# thank_you('Caroline')

In [ ]:
thank_you('Adriana')